body,
a {
  color: #3C3C3C !important;
}

.active {
  color: #CB251B !important;
}

.banner-img {
  position: relative;

  left: -3rem;
  top: -4rem;
  width: 65rem;

}

.capital {
  right: 0;
  top: 6rem;
  width: 12rem;
}


.btn-saiba-mais {
  background-color: #CB251B !important;
  border-radius: .5rem;
  height: 3.5rem;
  left: 10rem;
  top: 26rem;
  width: 15rem;
}

.btn-saiba-mais a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff !important;

}

.cards-produtos{
  top: 40rem;
  z-index: 2;
}

.cards {
  list-style-type: none;
}

.cards li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  border-radius: 1rem;
  color: #ffffff;
  display: flex;
  height: 5rem;
  margin: .5rem 0;
  padding-left: 1rem;
  width: 80vw;
}

.cards li:nth-child(1) {
  background-color: #CB251B;
}

.cards li:nth-child(2) {
  background-color: #FFD600;
}

.cards li:nth-child(3) {
  background-color: #1B8A1F;
}

.cards span {
  text-align: center;
  font-weight: bold;

  width: 15rem;
}

.cards {
  flex-direction: column;
}

.arrow {
  position: relative;

  left: 2rem;
  top: .5rem;
}

.ondas {
  z-index: 0;
  top: 35rem;
}


@media (min-width: 992px) {
  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 75rem;

  }

  .btn-saiba-mais {
    height: 2.5rem;
    left: 8rem;
    top: 25rem;
    width: 12rem;
  }

  .cards-produtos {
    left: 7rem;
    top: 30rem;
  }

  .cards li {
    flex-direction: column;
    transform: translateY(0px);
    transition: transform ease-in 0.2s;

    border-radius: 1rem;
    height: 10.5rem;
    margin: 0 1rem;
    padding: 2rem 0;
    width: 10rem;
  }

  .cards {
    flex-direction: row;
    z-index: 2;
  }


  #produtos:hover,
  #casa-verde-amarela:hover,
  #promocoes:hover {
    top: -1rem;
  }

  .cards span {
    width: 10rem;

  }

  .arrow {
    position: absolute;

    top: 8.5rem;
    left: 3rem;
  }


  .pre-lancamento {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    background: #994784;
    border-radius: .5rem;
    color: #ffffff;
    height: 5rem;
    right: 3rem;
    top: 7rem;
    width: 25rem;
  }

  .pre-lancamento span {
    font-weight: bold;
    text-transform: uppercase;

    font-size: 1.5rem;
  }

  .busque-imovel {
    position: absolute;

    background-color: #ffffffcc;
    border-radius: .5rem;
    padding: 2rem;
    right: 3rem;
    top: 13rem;
    width: 25rem;
  }

  .option {
    background-color: #ff000000;
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .5rem;
    width: 20rem;
  }

  .ondas {
    top: 35rem;
  }


}

@media (min-width: 1200px) {
  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 87rem;

  }

  .btn-saiba-mais {
    height: 2.5rem;
    left: 9rem;
    top: 29rem;
    width: 12rem;
  }

  .btn-saiba-mais a {
    font-size: 1rem;
  }

  .cards-produtos {
    left: 10rem;
    top: 33rem;
  }

  .btn_submit {
    background: #cc3532;
    color: #ffffff;
    margin-top: 1rem;
    width: 95%;
  }

  .ondas {
    top: 40rem;
  }

}

@media (min-width: 1400px) {

  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 120rem;
  }

  .btn-saiba-mais {
    left: 13rem;
    top: 39rem;

  }

  .cards-produtos {
    top: 45rem;

  }

  .pre-lancamento {
    top: 10rem;
  }

  .busque-imovel {
    top: 17rem;
}

  .ondas {
    z-index: 0;
    top: 55rem;
  }

}