:root {
  --cv-primary: #CB251B;
  --cv-text-color: #3C3C3C;
  --cv-main-font: 'Nunito', sans-serif;
  --cv-border-radius-secondary: .5rem;
  --cv-border-radius-primary: 1rem;
  --cv-color-light: #ffffff;
}
html{
  overflow-x: hidden;
}
body,
a {
  color: var(--cv-text-color) !important;
  font-family: var(--cv-main-font);
}

nav {
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  width: 8.5rem;
}

.btn-logo {
  width: 4rem;
}

.lista-menu {
  font-size: .9rem;
}

.img-btn-icons {
  width: 3.3rem;
}

.text-imovel-secondary {
  color: #CB251B;
}

.btn-whatsapp {
  right: 0;
  bottom: 0;
  z-index: 4;
}

.btn-whatsapp img {
  width: 5rem;
}

.menu-bottom-mobile {
  bottom: 0rem;
}

.menu-bottom-mobile ul {
  margin-left: -32px !important;
}

.map-svg{
  margin-right: .5rem;
}

.cards-fixed-img{
  width: 1px;
}

/* Banner SM */

.active {
  color: var(--cv-primary) !important;

}

.banner-img {
  position: relative;

  left: -3rem;
  top: -4rem;
  width: 65rem;


}

.capital {
  right: 0;
  top: 6rem;

  width: 10rem;

}

.cv-btn {
  background-color: var(--cv-primary) !important;
  border-radius: var(--cv-border-radius-secondary);
  height: 3.5rem;
  left: 10rem;
  top: 26rem;
  width: 15rem;

}

.cv-btn a {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--cv-color-light) !important;

}

.cards-produtos {
  top: 40rem;
  z-index: 2;

  width: 100%;

}

.cards {
  list-style-type: none;

}

.cards li {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;

  border-radius: var(--cv-border-radius-primary);
  color: var(--cv-color-light);
  display: flex;
  height: 5rem;
  margin: .5rem 0;
  padding-left: 1rem;
  width: 80vw;

}

.cards li:nth-child(1) {
  background-color: #CB251B;

}

.cards li:nth-child(2) {
  background-color: #FFD600;

}

.cards li:nth-child(3) {
  background-color: #1B8A1F;

}

.cards span {
  text-align: center;
  font-weight: bold;

  width: 15rem;

}

.cards {
  flex-direction: column;

}

.arrow {
  position: relative;

  left: 2rem;
  top: .5rem;

}

.btn_submit {
  background: var(--cv-primary);
  color: var(--cv-color-light);
  margin-top: 1rem;
  width: 95%;

}

.ondas {
  z-index: 0;
  top: 35rem;

}

.icons {
  background-color: var(--cv-primary);
  z-index: 3;

}

.icons ul {
  margin-top: -20px;

}

.icons img {
  width: 7rem;

}

/* Destaques SM */

#destaques {
  margin: 19rem 0;

}

.destaques-titulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  font-size: 3rem;
  width: 10rem;
  z-index: 2;
}

.destaques-titulo span {
  color: var(--cv-color-light);
  font-size: 4.5rem;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--cv-primary);

}

.destaques-texto {
  text-align: center;

  font-size: 1.5rem;
  width: 24rem;

}

.card-destaque-status {
  background: #CB251c;
  height: 3rem;
  left: 1rem;
  top: 1rem;
  width: 10rem;
  font-size: .9rem;

}

.cv-card {
  border-radius: 1rem;
  width: 25rem;

}

.cv-card-banner {
  width: 25rem;

}

.cv-card-footer {
  height: 5rem;
  width: 25rem;

}

.cv-btn-destaque {
  margin-top: 3rem;
  width: 20rem;
  background-color: var(--cv-primary);
}

.cv-btn-destaque a {
  text-decoration: none;
  color: #ffffff !important;
}

@media (min-width: 992px) {

  /* Banner LG */

  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 75rem;

  }

  .cv-btn {
    height: 2.5rem;
    left: 8rem;
    top: 25rem;
    width: 12rem;

  }

  .cards-produtos {
    left: 7rem;
    top: 30rem;
    width: 0;

  }

  .cards li {
    flex-direction: column;
    transform: translateY(0px);
    transition: transform ease-in 0.2s;

    border-radius: var(--cv-border-radius-primary);
    height: 10.5rem;
    margin: 0 1rem;
    padding: 2rem 0;
    width: 10rem;

  }

  .cards {
    flex-direction: row;

    z-index: 2;

  }

  #produtos:hover,
  #casa-verde-amarela:hover,
  #promocoes:hover {
    top: -1rem;

  }

  .cards span {
    width: 10rem;

  }

  .arrow {
    position: absolute;

    top: 8.5rem;
    left: 3rem;

  }

  .pre-lancamento {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    background: #994784;
    border-radius: var(--cv-border-radius-secondary);
    color: var(--cv-color-light);
    height: 5rem;
    right: 3rem;
    top: 7rem;
    width: 25rem;

  }

  .pre-lancamento span {
    font-weight: bold;
    text-transform: uppercase;

    font-size: 1.5rem;

  }

  .busque-imovel {
    position: absolute;

    background-color: var(--cv-color-light);
    border-radius: var(--cv-border-radius-secondary);
    padding: 2rem;
    right: 3rem;
    top: 13rem;
    width: 25rem;

  }

  .option {
    background-color: transparent;
    border-radius: var(--cv-border-radius-secondary);
    margin: .5rem 0;
    padding: .5rem;
    width: 20rem;

  }

  .ondas {
    top: 35rem;

  }

  /* Destaques LG */

  #destaques {
    margin: 0;
  }

  .destaques-texto {
    width: 100%;
  }

  .cv-card {
    border-radius: 1rem;
    width: 18rem;

  }

  .cv-card-banner {
    width: 18rem;

  }

  .cv-card-footer {
    height: 5rem;
    width: 18rem;

  }

  .cv-btn-destaque {
    width: 25em;
    height: 4rem;
  }


}

@media (min-width: 1200px) {

  /* Banner XL */

  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 87rem;

  }

  .cv-btn {
    height: 2.5rem;
    left: 9rem;
    top: 29rem;
    width: 12rem;

  }

  .cv-btn a {
    font-size: 1rem;

  }

  .cards-produtos {
    left: 10rem;
    top: 33rem;

  }


  .ondas {
    top: 40rem;

  }

  /* Destaques XL */

  .cv-card {
    border-radius: 1rem;
    width: 25rem;

  }

  .cv-card-banner {
    width: 25rem;

  }

  .cv-card-footer {
    height: 5rem;
    width: 25rem;

  }

}

@media (min-width: 1400px) {

  /* Banner XXL */

  .banner-img {
    left: -1rem;
    top: -5rem;
    width: 120rem;

  }

  .cv-btn {
    left: 13rem;
    top: 39rem;

  }

  .cards-produtos {
    top: 45rem;

  }

  .pre-lancamento {
    top: 10rem;

  }

  .busque-imovel {
    top: 17rem;

  }

  .ondas {
    z-index: 0;
    top: 55rem;

  }

  /* Destaques XXL */
  .cv-card {
    border-radius: 1rem;
    width: 25rem;

  }

  .cv-card-banner {
    width: 25rem;

  }

  .cv-card-footer {
    height: 5rem;
    width: 25rem;

  }

}